<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name ="No._02" type ="fake">
      <section name="objectBuilder" type="fake"/>
    </sectionGroup>
  </configSections>
  <No._02>
    <objectBuilder type="DesignPattern.No._02.TypeCreator,DesignPattern.No._02"/>
  </No._02>
</configuration>